_site
.bundle
db/*.sqlite3
db/uploads/*
db/dumps/*
log/*.log
tmp/**/*
.rvmrc
db/schema.rb
public/stylesheets/compiled/*
public/bpas/*
public/aihs/*
public/tiss/*
public/abramge/*
Gemfile.lock
.autotest
capybara201*
config/database.yml
public/uploads/**
*.tmproj
*.swp
*.swo
prepare
rotas.txt
public/fichas/*
