   <footer>
   <p>Copyright &copy; 2011 Rodrigo Vieira. All Rights Reserved.</p>
   <span>www.rodrigoalvesvieira.com</span>
   <!--<ul>
     <li><a href="/about">Sobre</a></li>
     <li><a href="/archuive">Archive</a></li>
   </ul>-->
    </footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js
"></script>
<script>

/*$(".terminal").hover(function() {
    var contentwidth = $(this).contents().width();
    var blockwidth = $(this).width();		
    if(contentwidth > blockwidth) {
        $(this).animate({ width: "765px"}, 250);
        }
    }, function() {
        $(this).animate({ width: "750px" }, 250);
});*/

</script>
</body>
</html>
