<nav id="navigation">
  <ul>
    <li><a href="/" title="Home">Home</a></li>
    <li><a href="/about" title="About">About</a></li>
    <li><a href="/articles" title="Blog Archive">Articles</a></li>
    <li><a href="/projects" title="Projects">Projects</a></li>
    <li><a href="/atom.xml" title="Blog Feed">Feed</a></li>
    <li><a href="https://github.com/rodrigoalvesvieira" title="Author's GitHub">GitHub</a></li>
    <li><a href="https://twitter.com/rodrigoavie" title="Author's Twitter">Twitter</a></li>
  </ul>
</nav>
