  <aside>
  <h4>Sobre</h4>
  <p>Eu sou um Desenvolvedor Web residente em <mark>Recife</mark>, programando principalmente com Ruby e JavaScript e entusiasmado com  Node.js e Web Design.</p>
  <h4>Comentários</h4>
  <p><a href="mailto:rodrigo3n@gmail.com">rodrigo3n@gmail.com</a></p>
  
  <h4>Eu na Internet</h4>
  <ul>
    <li><a href="http://twitter.com/rodrigo3n">Twitter</a></li>
    <li><a href="https://github.com/rodrigoalvesvieira">GitHub</a></li>
    <li><a href="http://dribbble.com/rodrigoalvesvieira">Dribbble</a></li>
    <li><a href="http://http://www.flickr.com/photos/rodrigo3n/">Flickr</a></li>
    <li><a href="http://www.linkedin.com/in/rodrigo3n">LinkedIn</a></li>
  </ul>
  </aside>
