/*
    // ================================== \\
   ||     "Rodrigo Alves Vieira"          ||
   ||      Rodrigo Alves Vieira           ||
   ||   Designer: Rodrigo Alves Vieira	  ||
   ||	Front-end: Rodrigo Alves Vieira   ||
   ||   Dev: Rodrigo Vieira               ||
    \\ ================================== //
*/

@import url('reset.css');
@import url('tipografia.css');

body {
  padding: 0;
  background: #f2d49b;
  line-height: 20px;
  font-size: 20px;
  font-family: Vegur;
}

#topo {
  border-top: 12px solid #000;
  background: #663f1b;
  width: 640px;
  margin:0 auto;
  height:88px;
}

#logo {
  width: 580px;
  margin: 0 auto;
  position: relative;
  font-family: Fanwood;
  z-index: 9999;
  padding: 13px 0;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  font-size: 44px;
  line-height: 65px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: 140;
}

section {
  background: #fff;
}

section p {
  margin: 21px 21px 21px 21px;
  font-size: 19px;
}

article {
  background: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

article p {
  margin: 21px 21px 21px 21px;
  font-size: 19px;
}

#section_home {
  margin: 0 auto;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000; 
}

.apresentacao {font-family: Georgia;}

#apresentacao {
  background: #fff;
  border: none;
}

section {
  width: 640px;
  margin: 0 auto;
  position: relative;
}

article h1 {
  margin: 0 auto;
  font-family: League Gothic;
  font-size: 38px;
  text-align:center;
  padding: 50px;
  padding-bottom: 23px;
}

article h1 a { color: #222;}
article p:last-child { padding-bottom: 20px;}

time {
  float: left;
  margin: 0 0 0 -115px;
  width: 100px;
  line-height: 125px;
  font-size: 18px;
  font-family: Junction;
}

#time_home {
  float: left;
  margin: 0 0 0 -115px;
  width: 100px;
  line-height: 60px;
  font-size: 18px;
  font-family: Junction;
}
			
h2 {
  margin: 0 0 25px 30px;
  line-height: 20px;
  padding-top: 10px;
  font-size: 24px;
  font-family: League Gothic, sans-serif;
  font-weight: 100;
}
	
h2 a {color: #222; text-decoration:none;}
h2 a:hover { color: #000; }

h3 {
  color: #fd5d13;
  font-family: Vegur, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 40px;
  font-weight: normal;
}

h4 {
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: 700;
  font-family: Vegur, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color:#fd5d13;
}

h5 {
  font-size: 13px;
  color: #666;
  font-weight: normal;
  line-height: 20px;
  margin: 0 0 10px 0;
}

p {
  clear: both;
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 20px;
}

#sobre h2 {
  padding-top: 20px;
}

img {margin-left: 85px;}

blockquote {
  font-style: italic;
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  border-left: 1px solid #ddd;
  font-family: Vegur, sans-serif;
  color: #333;
}
cite { color: #999; }
small { font-size: 12px; color: #999; }
ul {
  line-height: 20px;
  font-size: 14px; 
  margin: 0 0 20px 40px;
  list-style: disc;
}

ul ul { margin: 0 0 0 20px; }

ol {
  line-height: 20px;
  font-size: 14px;
  margin: 0 0 20px 40px;
  list-style: decimal;
}

a {
  text-decoration: none;
  color: #a53f1b; 
}

a:hover, a:active {
  color: #fff;
}

.drops {
  font-family: Georgia;
  display: inline;
  float: left;
  text-indent: 5px;   
  margin: 0;
  padding: .25em .08em 0 0;
  line-height: .4em;
  text-transform: capitalize;
  color: #663F1B; 
  font-size: 400%;}

#post p {
  font-family: Vegur;
  line-height: 22px;
}

#post a:hover, a:active {
  color: #fff;
  background: #3B250E;
}

h1 a {
  border-bottom: none;
  text-decoration: none;
  color: #ffe3ac;
}

h1 a:hover {color: #fff;}

article h1 a { color: #222;}

h2 a {color: #222; text-decoration:none;}
h2 a:hover { color: #000; }	

::selection  { color:#fff; background: #b5864c; }

footer {
  font-family: Vegur;
  color: #0b0b0b; 
  text-align:center;
  width: 640px;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
  font-size: 12px;
  color: #777;
}

footer span{display:none;}
