/*
 *  Não Copie Meu CSS!
 *
    // ================================== \\
   ||     "Rodrigo Alves Vieira"          ||
   ||      Rodrigo Alves Vieira           ||
   ||   Designer: Rodrigo Alves Vieira	  ||
   ||	Front-end: Rodrigo Alves Vieira   ||
   ||   Dev: Rodrigo Alves Vieira         ||
    \\ ================================== //
*/

@import url('reset.css');
@import url('tipografia.css');
@import url('syntax.css');

/* Paletas
 * http://kuler.adobe.com/index.cfm#themeID/1372133
 *
 */

body {
  padding: 0;
  background: #f2d49b;
  line-height: 20px;
  font-size: 20px;
  font-family: Georgia;
}

#topo {
  border-top: 12px solid #000;
  background: #663f1b;
  width: 640px;
  margin:0 auto;
  height:100px;
}

#logo {
  width: 580px;
  margin: 0 auto;
  position: relative;
  font-family: Fanwood;
  padding: 11px 0 0;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  font-size: 40px;
  line-height: 62px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-variant: small-caps;
}

header p {
  color: #fff;
  width: 540px;
  margin: 0 0 4px 30px;
  font-size: 72%;
  font-family: Open Sans Light, Helvetica;
  font-style: italic;
}

section {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 638px;
  margin: 0 auto;
  position: relative;
  background: #fff;
}

section p {
  margin: 21px 21px 18px 21px;
  font-size: 19px;
}

article {background: #fff;}

.drops {font-family: Georgia;display: inline;float: left;text-indent: 5px;margin: 0;padding: .25em .08em 0 0;line-height: .4em;text-transform: capitalize;color: #663F1B;font-size: 400%;
}

.apresentacao {font-family: Georgia;}
#apresentacao {
  background: #fff;
  border: none;
}

article h1 {
  margin: 0 auto;
  font-family: League Gothic;
  font-size: 38px;
  text-align:center;
  padding: 50px;
  line-height: 40px;
  padding-bottom: 23px;
}

article h1 a { color: #222;}
#post p:last-child { padding-bottom: 20px;}

time {
  float: left;
  margin: 0 0 0 -115px;
  width: 100px;
  line-height: 125px;
  font-size: 16px;
  font-family: Open Sans Light, Helvetica;
  font-style: italic;
}

#time_home {
  float: left;
  margin: 0 0 0 -115px;
  width: 100px;
  line-height: 130px;
  font-size: 16px;
  font-family: Open Sans Light, Helvetica;
  font-style: italic;
}

time a {
  color: #000;
  border-bottom: none;
}

time a:hover {
  color: #A53F1B;
  background-color: #fff;
}

h2 {
  margin: 0 0 25px 21px;
  line-height: 20px;
  font-size: 26px;
  font-family: League Gothic, sans-serif;
  font-weight: 100;
}

.home {
  margin: 0 0 25px 30px;
  line-height: 20px;
  padding-top: 47px;
  font-size: 26px;
  font-family: League Gothic, sans-serif;
  font-weight: 100;
}

.home a {font-size: 32px; text-transform: uppercase; color: #222;border-bottom:1px #222 dotted}
.home a:hover { color: #222; border-bottom: 1px #222 solid;}

h3 {
  margin: 0 0 25px 21px;
  line-height: 20px;
  padding-top: 7px;
  font-size: 20px;
  font-family: League Gothic, sans-serif;
  font-weight: 100;
  color: #222;
}

h4 {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-family: Georgia, sans-serif;
  color: #222;
}

p {
  clear: both;
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 20px;
}

#sobre h2 {
  padding-top: 20px;
}

img {
  margin: 8px 25px 25px 25px;
  float: left;}

blockquote {
  font-style: italic;
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  border-left: 1px solid #ddd;
  font-family: Georgia, sans-serif;
  color: #333;
}
cite { color: #999; }
small { font-size: 12px; color: #999; }
ul {
  line-height: 20px;
  font-size: 14px;
  margin: 0 0 20px 40px;
  list-style: disc;
}

ul  li {
  font-size: 19px;
}

ol {
  line-height: 20px;
  font-size: 14px;
  margin: 0 0 20px 40px;
  list-style: decimal;
}

header a {
  text-decoration: none;
  color: #a53f1b;
}

header a:hover, a:active {
  color: #fff;
  background: none;
  text-decoration: none;
  border-bottom: none;
}


a {
  color: #484848;
  text-decoration: none;
  border-bottom: 1px dotted #999892;
}

a:hover, a:active {
  color: #484848;
  border-bottom: 1px solid #999892;
}

address {
  margin: 25px 21px 21px 21px;
  text-align: left;
  color: #333;
  font-family: Georgia;
  font-style: italic;
}

#address {
  font-size: 18px;
  text-align: left;
  color: #333;
  line-height: 10px;
  font-family: Georgia;
  font-style: italic;
}
#post h1 {text-transform:uppercase;}

.autor {
  font-family: Open Sans,
}

#post p {
  font-family: Georgia;
  line-height: 22px;
}

#post a:hover, a:active {
  color: #fff;
  background: #3B250E;
}

h1 a {
  border-bottom: none;
  text-decoration: none;
  color: #ffe3ac;
}

h1 a:hover {color: #fff;}

article h1 a { color: #222;}

article h2 a {color: #222; text-decoration:none;}
article h2 a:hover, a:active {background-color: #fff;}

form {margin: 21px 21px 21px 21px;}

article a {
  background: none;
  text-decoration: none;
  border-bottom: none;
  color: #663f1b;
}

article a:hover {
  background: #663f1b;
  text-decoration: none;
  border-bottom: none;
  color: #fff;
}

::selection {color:#fff;background:#b5864c;}
footer {font-family: Open Sans, Vegur;color:#0b0b0b;text-align:center;width:640px;margin:0 auto;margin-top:15px;position:relative;color:#777;}
footer span{display:none;}

footer p {
font-size: 13px;}
