@font-face{font-family:New Yorker;src:url('/public/New_Yorker.ttf');}
@font-face{font-family:Riesling;src:url('/public/riesling.ttf');}
@font-face{font-family:Ballpark Weiner;src:url('/public/ballpark_weiner.ttf');}
@font-face{font-family:League Gothic;src:url('/public/League_Gothic.otf');}
@font-face{font-family:Lekton Regular;src:url('/public/Lekton_Regular.ttf');}
@font-face{font-family:Vegur;src:url('/public/Vegur.otf');}
@font-face{font-family:Britannic;src:url('/public/Britannic_Medium.ttf');}

body {
  padding: 0;
  background: #f2d49b;
  background-attachment: fixed;
  line-height: 20px;
  font-family: Vegur;
}

#top {
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 0px 14px;
  height: 10px;
  line-height: 1em;
  position: relative;
  font-size: 12px;
  z-index: 15;
  background: #000;
}

#top ul {
  list-style: none;
  display: inline;
}

section {
  background: #fff;
  text-align:justify;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

section p {
  margin: 21px 21px 21px 21px;
  font-size: 19px;
}

secton p:first-letter {
  text-indent: 15px;
}

article {
  background: #fff;
  text-align:justify;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

article p {
  margin: 21px 21px 21px 21px;
  font-size: 19px;
}

article p:first-letter {
  text-indent: 15px;
}

.apresentacao {font-family: Georgia;}

#apresentacao {
  background: #fff;
  text-align:justify;
  border: none;
}

#post p:first-child:first-letter {
  float:left;
  font-size:200%;
  line-height:1em;
  margin:4px 10px 10px 0;
  padding:4px 10px;
  border:2px solid #ccc;
  background: #eee;
}

section {
  width: 680px;
  margin: 0 auto;
  position: relative;
}

#logo {
  width: 680px;
  margin: 0 auto;
  position: relative;;
  font-family: Britannic, League Gothic;
  z-index: 9999;
  padding: 10px 0;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  font-size: 44px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: 140;
}

article h1 {
  margin: 20px auto;
  font-family: League Gothic;
  font-size: 38px;
  text-align:center;
  padding: 50px;
  padding-bottom: 23px;
}

article h1 a { color: #222;}
article p:last-child { padding-bottom: 20px;}

time {
  float: left;
  margin: 0 0 0 -135px;
  width: 100px;
  line-height: 60px;
}
			
h2 {
  margin: 25px 0 25px 30px;
  line-height: 20px;
  font-size: 24px;
  font-family: League Gothic,serif;
  font-weight: 100;
}
	
h2 a {color: #222; text-decoration:none;}
h2 a:hover { color: #000; }

h3 {
  color: #fd5d13;
  font-family: "pill-gothic-300mg-1","pill-gothic-300mg-2";
  text-transform: uppercase;
  font-size: 20px;
  line-height: 40px;
  font-weight: normal;
}


h4 {
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: 700;
  font-family: "pill-gothic-300mg-1","pill-gothic-300mg-2";
  line-height: 20px;
  text-transform: uppercase;
  color:#fd5d13;
}

h5 {
  font-size: 13px;
  color: #666;
  font-weight: normal;
  line-height: 20px;
  margin: 0 0 10px 0;
}

p {
  clear: both;
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 20px;
}

#sobre h2 {
  padding-top: 20px;
}

img {margin-left: 85px;}

#drop:first-letter {
  font-family: Ballpark Weiner, serif;
  float:left;
  font-size:300%;
  line-height:1em;
  margin:4px 10px 10px 0;
}

blockquote {
  font-style: italic;
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  border-left: 1px solid #ddd;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",serif;
  color: #333;
}
cite { color: #999; }
small { font-size: 12px; color: #999; }
ul {
  line-height: 20px;
  font-size: 14px; 
  margin: 0 0 20px 40px;
  list-style: disc;
}

ul ul { margin: 0 0 0 20px; }

ol {
  line-height: 20px;
  font-size: 14px;
  margin: 0 0 20px 40px;
  list-style: decimal;
}

a {
  text-decoration: none;
  color: #a53f1b; 
}

a:hover, a:active {
  color: #fff;
}

#post a:hover, a:active {
  color: #fff;
  background: #3B250E;
}

h1 a {
  border-bottom: none;
  text-decoration: none;
  color: #3b250e;
}

article h1 a { color: #222;}

h2 a {color: #222; text-decoration:none;}
h2 a:hover { color: #000; }	

::selection  { color:#fff; background: #b5864c; }

footer {
  color: #0b0b0b; 
  text-align:center;
  width: 680px;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
  font-size: 12px;
  color: #999;
}

footer span{display:none;}
