@import url('tipografia.css');

* {float: none;}

body {font-size: 14pt;}

#disqus_thread {
margin: 0 auto;
  display: none;
}

.dsq-avatar {
	display: none;
}


header h1 {
  text-align: center;
  font-size: 34pt;
  font-family: Fanwood, Georgia;
  line-height: 40pt;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  margin-bottom: 40pt;
}

article h1 {
  font-family: League Gothic;
  font-size: 32pt;
  text-align:center;
	text-transform: uppercase;
}
header p {
  text-align:center;
}

.drops {font-family: Georgia;display: inline;float: left;text-indent: 5pt;margin: 0;padding: .25em .08em 0 0;line-height: .4em;text-transform: capitalize;color: #000;font-size: 400%;
}

aside a {
  margin-bottom: 20pt;
}

h1 {
  text-align:center;
  font-size: 29pt;
  margin: 0 0 20pt 0;
  line-height: 20pt;
  font-family: League Gothic, sans-serif;
  font-weight: 100;
  font-style:italic;
  font-variant:small-caps;
  margin-bottom:25pt;
}

h1 a {
  text-decoration: none;
}

a:link, a:visited {
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
}

h1 a {text-decoration: none;color:#222;}
article {margin-top:25pt;text-align:justify;}
article a:link:after, #content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

article a[href^="/"]:after {
  content: " (http://www.rodrigoalvesvieira.com" attr(href) ") ";
}



footer {margin-top: 50pt;}
footer {text-align:center;}
