@font-face{font-family:New Yorker;src:url('/public/New_Yorker.ttf');}
@font-face{font-family:Riesling;src:url('/public/riesling.ttf');}

* {float: none;}

body {
  background: #000;
  font-size: 14pt;
}

#logo {
  text-align: center;
  font-size: 54pt;
  font-family: Riesling, New Yorker;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  margin-bottom: 40px;
}

h1 {
  text-align:center;
  font-size: 29pt;
  margin: 0 0 20px 0;
  line-height: 20px;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",serif;
  font-weight: 100;
  font-style:italic;
  font-variant:small-caps;
  margin-bottom:25pt;
}

a:link, a:visited {
  color: #520;
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
}

#logo a {text-decoration: none;color:#000;}
#content {margin-top:25pt;text-align:justify;}
#content a:link:after, #content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

#content a[href^="/"]:after {
  content: " (http://www.rodrigoalvesvieira.com" attr(href) ") ";
}

footer {margin-top: 50pt;}
footer {text-align:center;}
