@font-face{font-family:League Gothic;src:url('/public/League_Gothic.otf');}
@font-face{font-family:Vegur;src:url('/public/Vegur.otf');}
@font-face{font-family:Fanwood ;src:url('/public/FanwoodText.otf');}
@font-face{font-family:Share-Techmono;src:url('/public/Share_Techmono.otf');}
@font-face{font-family:"Museo 300";src:url('/public/Museo300-Regular.otf');}
@font-face{font-family:"Museo 500";src:url('/public/Museo500-Regular.otf');}
