---
layout: base
---
<article id="post">
  <header>
  <time datetime="{{page.date | date: '%Y-%m-%d'}}" pubdate><a href="{{page.url}}" class="permalink">{{ page.date | date_to_string }}</a></time>
    <h1>{{ page.title }}</h1>
  </header>
  {{ content }}
  <address>
    <p id="address"><a href="http://twitter.com/#!/rodrigoalvieira" title="Siga Rodrigo Alves Vieira no Twitter">Rodrigo Alves Vieira</a> é recifense e <a href="https://github.com/rodrigoalvesvieira" title="GitHub de Rodrigo Alves Vieira">desenvolve</a> para a web na <a href="http://www.atela.com.br" title="Site da Atela">Atela</a>.</p>
  </address>
</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://rodrigoalvesvieira.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
