---
layout: base
---
<article id="post">
  <header>
  <time datetime="{{page.date | date: '%Y-%m-%d'}}" pubdate><a href="{{page.url}}" class="permalink">{{ page.date | date_to_string }}</a></time>
    <h1>{{ page.title }}</h1>
  </header>
  {{ content }}
  <address>
    <p id="address"><a href="http://twitter.com/#!/rodrigoalvieira" title="Twitter de Rodrigo Alves Vieira">Rodrigo Alves Vieira</a> é recifense e <a href="https://github.com/rodrigoalvesvieira" title="GitHub de Rodrigo Alves Vieira">desenvolve</a> para a Web na <a href="http://www.atela.com.br" title="Site da Atela">Atela</a>.</p>
  </address>
</article>
